<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hario.hbhclassroom">

     <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hbhclassroom-cca52.firebaseapp.com"
                    android:pathPrefix="/message"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatBoxActivity"
            android:label="Class Group ChatBox" />
        <activity
            android:name=".Staff.MenuStaff"
            android:label="Admin Menu" />
        <activity
            android:name=".Staff.AddTeacherDetails"
            android:label="Add Teacher Details" />
        <activity
            android:name=".Staff.MenuTeacherSection"
            android:label="Teacher Portal" />
        <activity
            android:name=".Staff.ViewTeacherAllList"
            android:label="All Teacher's List" />
        <activity
            android:name=".Staff.ViewTeacherDetails"
            android:label="Teacher's Details" />
        <activity
            android:name=".Staff.AddTeacherTimeTable"
            android:label="Add Teacher's TimeTable" />
        <activity
            android:name=".Staff.AddStudentTimeTable"
            android:label="Add Teacher's TimeTable" />
        <activity
            android:name=".Staff.AddStudentDetails"
            android:label="Add Student Details" />
        <activity
            android:name=".Staff.MenuStudentSection"
            android:label="Student Portal" />
        <activity
            android:name=".Staff.AddStaffDetails"
            android:label="Add Staff Details" />
        <activity
            android:name=".Staff.MenuStaffSection"
            android:label="Staff Portal" />
        <activity
            android:name=".Staff.MenuNoticeSection"
            android:label="Notice Portal" />
        <activity
            android:name=".Staff.MenuExtraSection"
            android:label="Extra Portal" />


        <activity android:name=".SignUpAndInActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Drawer.NaviDrawerActivity"
            android:label="@string/title_activity_navi_drawer"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>